

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightseagreen;
}

.konteiner {
    background-color: white;
    width: 80%;
}

.uudis-kuupaev {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: monospace;
}