#eriline {
    font-size: 20px;
    color: green;
}

.paaris {
    color: brown;
}

h1 {
    color: blue;
}

li {
    font-weight: bold;
    color: grey;
}



.liivimaa {
    background-color: bisque;
}
